{% load static %}
<!-- Start Breaking News -->
    <div class="breaking-news">
        <div class="container">
            <div class="breaking-news-content clearfix">
                <h6 class="breaking-title"><i class="icofont-flash"></i> خبر فوری:</h6>

                <div class="breaking-news-slides owl-carousel owl-theme">
                   {% for object in article %}
                    <div class="single-breaking-news">

                        <p><a href="#">
                            {{ object.title }}  </a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- End Breaking News -->