<section class="widget newsletter_box">

                        <div class="newsletter-box">
                            {% if messages %}

                    {% for message in messages %}
                        <div class="alert alert-dark">
                            {{ message }}
                        </div>
                    {% endfor %}

                {% endif %}
                            <div class="newsletter-box-inner">
                                <h3>برای بروزرسانی های جدید در خبرنامه ما مشترک شوید!</h3>
                                <i class="icofont-email"></i>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="email" name="email" class="newsletter-input" placeholder="ایمیل خود را وارد کنید"
                                            required autocomplete="off">
                                    <button type="submit"><i class="icofont-paper-plane"></i></button>
                                    <div id="validator-newsletter"></div>
                                </form>
                            </div>
                        </div>
                    </section>