<section class="widget newsletter_box">

                        <div class="newsletter-box">
                            {% if messages %}

                    {% for message in messages %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                {% endif %}
                            <div class="newsletter-box-inner">
                                <h3>برای بروزرسانی های جدید در خبرنامه ما مشترک شوید!</h3>
                                <i class="icofont-email"></i>

                                <form data-toggle="validator" method="post">
                                    {% csrf_token %}
                                    <input type="email" class="newsletter-input" placeholder="ایمیل خود را وارد کنید"
                                           name="EMAIL" required autocomplete="off">
                                    <button type="submit"><i class="icofont-paper-plane"></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>
                    </section>