{% load static %}
<!doctype html>
<html lang="fa">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5,CSS3,HTML,Template,multi-page,Sinmun - News and Magazine HTML Template">
    <meta name="description" content="Sinmun - News and Magazine HTML Template">
    <meta name="author" content="Barat Hadian">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/icofont.min.css' %}">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/rtl.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">

    <title>Sinmun - قالب HTML سینون , پوسته چندمنظوره سایت اخبار و مجله خبری</title>

    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
</head>

<body>

<!-- Start Header Area -->
<header class="header-area">


    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="sinmun-mobile-nav">
            <div class="logo">
                <a href="{% url 'blog:home' %}"><img src="{% static 'assets/img/logo.png' %}" alt="logo"></a>
            </div>
        </div>

        <div class="sinmun-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{% url 'blog:home' %}"><img src="{% static 'assets/img/logo.png' %}"
                                                                              alt="logo"></a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a href="{% url 'blog:home' %}" class="nav-link">صفحه اصلی</a>
                            </li>

                            <li class="nav-item"><a href="{% url 'blog:cat_lifestyle' %}" class="nav-link">سبک زندگی</a>
                            </li>

                            <li class="nav-item"><a href="{% url 'blog:cat_tech' %}" class="nav-link">فناوری</a></li>

                            <li class="nav-item"><a href="{% url 'blog:cat_travel' %}"
                                                    class="nav-link active">مسافرت</a></li>

                            <li class="nav-item"><a href="{% url 'blog:contact' %}">تماس با ما</a>
                            </li>
                        </ul>

                        <div class="others-options">
                            <div class="others-options">
                                <ul> {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'blog:home' %}"> {{ request.user.username }} <i
                                            class="icofont-user-alt-5"></i></a></li>
                                    <li><a href="{% url 'blog:logout' %}"> خروج</a></li>
                                    <li class="header-search">
                                        <div class="nav-search">
                                            <div class="nav-search-button">
                                                <i class="icofont-ui-search"></i>
                                            </div>
                                            {% else %}

                                    <li><a href="{% url 'blog:signin' %}"> ورود/ثبت نام <i
                                            class="icofont-user-alt-5"></i></a></li>
                                    <li class="header-search">
                                    <div class="nav-search">
                                    <div class="nav-search-button">
                                        <i class="icofont-ui-search"></i>
                                    </div>
                                {% endif %}

                                    <form action="{% url 'blog:search' %}">
                                        <span class="nav-search-close-button" tabindex="0">✕</span>
                                        <div class="nav-search-inner">
                                            <input type="text" name="q" placeholder="جستجو کنید ....">
                                        </div>
                                    </form>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </nav>
            </div>
        </div>
    </div>
    </div>
    <!-- End Navbar Area -->

    {% include 'includes/breakingnews.html' %}
</header>
<!-- End Header Area -->

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>مسافرت</h2>

            <ul>
                <li><a href="{% url 'blog:home' %}"><i class="icofont-home"></i> صفحه اصلی</a></li>
                <li><i class="icofont-rounded-left"></i></li>
                <li>مسافرت</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Default News Area -->
<section class="default-news-area bg-color-none">
    <div class="container">
        <div class="row">
            <div class="default-news-slides owl-carousel owl-theme">
                {% for new in news %}
                    <div class="col-lg-12 col-md-12">
                        <div class="single-default-news">
                            <a href="{% url 'blog:posts'  new.id %}">
                                <img src="{{ new.image.url }}" alt="image" height="300px" width="500px">
                            </a>
                            <div class="news-content">
                                <ul>
                                    <li><i class="icofont-user-suited"></i> توسط <a
                                            href="#">{{ new.author.username }}</a></li>
                                    <li><i class="icofont-calendar"></i>{{ new.created }}</li>
                                </ul>
                                <h3><a href="{% url 'blog:posts'  new.id %}">{{ new.title }}</a></h3>
                            </div>

                            <div class="tags">
                                <a href="{% url 'blog:cat_travel' %}">{{ new.category.all.first }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- End Default News Area -->

<!-- Start All Category News Area -->
<section class="all-category-news ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="section-title">
                    <h2>همه اخبار</h2>
                </div>

                {% for article in articles %}
                    <div class="single-category-news">
                        <div class="row m-0 align-items-center">
                            <div class="col-lg-5 col-md-6 p-0">
                                <div class="category-news-image">
                                    <a href="{% url 'blog:posts'  article.id %}"><img src="{{ article.image.url }}"
                                                                                      alt="image"></a>

                                    <div class="tags">
                                        <a href="{% url 'blog:cat_travel' %}">{{ article.category.all.first }}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-7 col-md-6">
                                <div class="category-news-content">
                                    <span><i class="icofont-clock-time"></i>{{ article.created }}</span>
                                    <h3><a href="{% url 'blog:posts'  article.id %}">{{ article.title }}</a></h3>
                                    <p>{{ article.body|truncatewords:30 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination-area">
                     {% include 'includes/pagination.html' %}
                </div>
            </div>

            <div class="col-lg-4 col-md-12">

                <div class="newsletter-box">
                    <div class="section-title">
                        <h2>خبرنامه</h2>
                    </div>

                    {% include 'includes/newsletter.html' %}
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End All Category News Area -->

{% include 'includes/footer.html' %}
<div class="go-top"><i class="icofont-swoosh-up"></i></div>

<!-- Jquery Min JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!-- Popper Min JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- MeanMenu JS -->
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<!-- MixItUp Min JS -->
<script src="{% static 'assets/js/mixitup.min.js' %}"></script>
<!-- Owl Carousel Min JS -->
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup Min JS -->
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Form Validator Min JS -->
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<!-- Contact Form Script JS -->
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<!-- ajaxChimp Min JS -->
<script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>